$mdc-theme-primary: #0063dd
$mdc-theme-secondary: yellow

:root
    --mdc-theme-primary: pink
    --mdc-theme-secondary: blue

html,
body
  padding: 0
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

*
  box-sizing: border-box


//// 
.rightSide 
  background-image: url('/loginBkg.png')
  background-size: cover
  background-repeat: no-repeat
  height: 100vh

.leftSide
  background-image: url('/loginBkgI.png')


