:root {
  --mdc-theme-primary: #00d4ff;
  --mdc-theme-secondary: rgba(255, 255, 255, 0.692);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}
