/* Custom input fields */

.birthdayWrapper {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1.0rem;
    margin-top: 2rem;
}

#customValue__input {
    color: var(--mdc-theme--on-secondary);
}

.valueOptionInput {
    border: none;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    color: white;
    text-align: center;
    background-color: transparent;
}

.valueOptionInput::-webkit-outer-spin-button,
.valueOptionInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.valueOptionInput:focus {
    outline: none;
    color: white !important;
}

.valueInputWrapper {
    display: flex;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}


/* Custom buttons */
#defaultButton {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    border-radius:  2px;
    text-transform: none;
    font-size: 15px;
}

.donationInputs p {
    margin: 30px auto 15px auto;
}

.donationModeWrapper .outlinedButton {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    border: 2px solid #00d4ff;
    border-radius: 2px;
    text-transform: none;   
    font-size: 15px;
}

.donationModeWrapper {
    position: relative;
}

.navigationSteps {
    margin-bottom: 28px;
}

.navigationSteps .outlinedRoundedButton {
    padding: 0 4px;
    margin-right: 20px;
    height: 48px;
    border: 2px solid transparent;
    border-radius: 100px;
}

.navigationSteps .outlinedRoundedButton:hover {
    border-color: #00d4ff;
    transition: .1s ease-in;

}



/*Custom checkbox code styles*/

.checkbox {
    margin-bottom: -10px;
}

.checkbox:checked~.section .container .row .col-12 .valueOption:not(:checked)+label {
    background-color: var(--light);
    color: var(--dark-blue);
    box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.checkboxGroup {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}



.donationModeWrapper {
    display: flex;
    width: 100%;
    gap: 10px;
}

.donationModeButton {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 20px !important;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

.donationModeButton:hover {
    background-color: #00d4ff;
}

.donationModeButton:checked+label {
    background-color: #00d4ff;
}



.reason {
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    cursor: pointer;
    background-color: white;
    padding: 20px 10px;
    border-radius: 5px;
    border: 2px solid white;
    transition: linear all 150ms;
}

.reason:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.142);
}

.reason:hover .reason__emoji {
    background-color: #d2eff383;
}

.reason p {
    padding: 0 !important;
}

.reason__emoji {
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(227, 227, 227, 0.368);
    flex: 0 0 auto;
}

.reason__text {
    flex: 1 1 auto;
    margin: 0 !important;
    padding: 0 !important;
}


.reasons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}



.valueOption {
    border: 2px solid #ffffff27;
    font-weight: 600;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px !important;
    gap: 5px;

    height: 170px;
    width: 31%;
    max-width: 170px;;

    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    margin: 0 !important;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);

}

.valueOption__emoji {

    width: 50px;
    height: 50px;
    font-size: 30px;
    flex: 0 0 auto;

    border-radius: 100%;
    background-color: rgba(2, 18, 35, 0.193);
    display: flex;
    justify-content: center;
    align-items: center;
}

.valueOption h3 {
    margin: 0 !important;
}

.valueOption p {
    margin: 0 !important;
    font-size: small;
    font-weight: 400;
}

.valueOption:hover {
    background-color: #00d4ff;
}

.valueOption:checked+label {
    background-color: #00d4ff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.valueOptions {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
    align-items: center;
}




/* Others */

.textLabel {
    margin-top: 20px !important;
}

.consentWrapper {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 5px;
}

.footerMessage {
    width: 100%;
    font-size: medium;
    margin-top: 1rem;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.footerMessage:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.footerMessageLink{
    text-decoration: none;
}

.modalUserRegistration {
    z-index: 2;
    margin-left: -20px;
    padding-left: 20px;
}

.selectBox {
    margin-top: 10px;
}

.title {
    margin: 35px 0 15px 0;
}