.html {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.content {
  padding: 80px 20px;
}

.rankingPage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Title Container */

.titleContainer {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.titleContainer h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 900;
  z-index: 3;
}

.titleContainer p {
  margin: 0;
}

.reditusButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 212, 72);
  color: rgb(37, 19, 0);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 16px;
  transform: scale(1.1) translateY(10px);
  z-index: 1;
}

/* Donation Callout */


.donationCallout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #90f2ff;
  width: 100%;
  padding: 10px 40px;
  border-bottom: 1px solid #ffffff;
}

.donationCallout p {
  margin: 0;
  font-weight: 600;
  color: rgb(29, 118, 145);
}

.donationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(29, 118, 145);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 16px;
}

.donationButton:hover {
  background-color: rgb(14, 88, 111);
}

/* Results Pannel */

.resultsPannel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  background-color: #224347;
  padding: 20px 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  margin-top: 50px;
  color: rgb(255, 255, 255);
}

.resultsPannel p {
  font-size: xx-large;
  margin: 0;
  font-weight: 700;
}

.resultsPannel .divider {
  width: 2px;
  height: 50px;
  background-color: white;
}

/* Share Callout */

.shareCallout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #90f2ff;
  padding: 40px 40px;
  border-radius: 100px;
  margin-top: 50px;
}

.shareBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.shareBtn:hover {
  background-color: rgb(218, 242, 255);
}

/* Table */

.groupsTable {
  width: 100%;
  max-width: 600px;
  margin-top: 50px;
  overflow: hidden;
  background-color: #ffffff;  
  font-size: 14px;
  padding: 20px;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 10px;
}

.groupsTable table {
  width: 100%;
  border-collapse: collapse;
}

.groupsTable th {
  height: 60px;
}

.groupsTable tbody {
  height: 300px !important;
  overflow: scroll;
  width: 100%;
}

.groupsTable td {
  border-top: 1px solid rgb(202, 202, 202);
  text-align: center;
  height: 60px;
  cursor: pointer;
}

.groupsTable tr:hover {
  background-color: rgb(239, 254, 255);
}

