.rightSide input:focus {
  color: var(--mdc-theme-primary) !important;
}

.rightSide label {
  margin-bottom: 1rem;
  padding-top: 1.2rem;
  padding-bottom: -1rem;
}

.rightSide label span {
  margin: 1px auto 6px -1rem;
}

.rightSide {
  color: white;
  background-image: url("/loginBkg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 10px 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}

.rightSide img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.rightSide button {
  margin-top: 1rem;
  height: 50px;
  border-radius: 0;
}


.leftSide {
  padding: 10px 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}

@media only screen and (max-width: 800px) {
  .leftSide {
    display: none;
  }

  .rightSide {
    padding: 12rem 20%;
  }

  .leftSide ul li {
    height: 5.5rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-height: 375px) {
  .leftSide {
    display: none;
  }
}

@media only screen and (max-height: 800px) {
  .leftSide {
    padding: 10px 15%;
  }

  .leftSide ul li {
    height: 5.5rem;
    margin-bottom: 2rem;
  }

  .rightSide {
    padding: 18rem 20%;
  }
}

.leftSide p {
  font-family: 'Open sans'sans-serif !important;
  font-size: 16px;
  color: #919BB0;
  padding-left: 20px;
}

.leftSide ul {
  font-family: 'Open sans'sans-serif !important;
  font-size: 16px;
  font-weight: 300;
  color: #919BB0;
}

.leftSide ul li {
  font-family: 'Open sans'sans-serif;

  height: 2.5rem;
  margin-bottom: 2rem;
}

.leftSide i {
  color: #e2e2e2;
}

.navigationSteps {
  display: flex;
}