.rightSide {
  color: white;
  background-image: url("/loginBkg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 10px 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}

.leftSide {
  padding: 10px 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}

.leftSide p {
  font-family: 'Open sans' sans-serif !important;
  font-size: 18px;
  color: #919BB0;

  padding-left: 20px;
}

.leftSide ul {
  font-family: 'Open sans' sans-serif !important;
  font-size: 18px;
  font-weight: 300;
  color: #919BB0;
}

.leftSide i {
  color: #e2e2e2;
}
